<div class="row">
  <div class="col-xs-12">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Original Document</h4>
      </div>
      <div class="panel-body">
        <% if @source.document.present? %>
          <object data="<%= url_for(format: :pdf) %>" type="application/pdf" width="100%" height="500">
            alt : <a href="<%= url_for(format: :pdf) %>"><%= File.basename @source.document.path %></a>
          </object>
        <% else %>
          <em>No document attached yet...</em>
        <% end %>
      </div>
    </div>

  </div>
</div>
