<div class="modal fade" tabindex="-1" role="dialog" id="importModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Import Sources</h4>
      </div>
      <%= bootstrap_form_for :source_import, url: source_imports_path, method: :post do |f| %>
        <div class="modal-body">
          <%= f.text_area :bibtex_text, rows: 10, label: 'BibTeX Text', placeholder: <<-BIBTEX
@book{programming_ruby,
  address = {Raleigh, North Carolina},
  author = {Thomas, Dave and Fowler, Chad and Hunt, Andy},
  publisher = {The Pragmatic Bookshelf},
  series = {The Facets of Ruby},
  title = {Programming Ruby 1.9: The Pragmatic Programmer's Guide},
  year = {2009}
}
BIBTEX
              %>
          <%= f.file_field :bibtex_file, label: 'BibTeX File' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit 'Import Sources', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
