
<div class="row">
  <div class="col-xs-12 col-lg-6">
    <%= @source.title %>
  </div><!-- /.col-lg-6 -->
  <div class="col-xs-12 col-lg-6">
    <object data="<%= url_for(format: :pdf) %>" type="application/pdf" width="100%" height="600">
      alt : <a href="<%= url_for(format: :pdf) %>"><%= File.basename @source.document.path %></a>
    </object>
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
