<div class="container">
  <h3>D R O P &nbsp; I T &nbsp; L I K E &nbsp; I T ' S &nbsp; H O T &nbsp; <%= glyphicon :fire %></h3>

  <div class="panel panel-default">
    <div class="panel-body">
      <%= render 'drop_form' %>
    </div>
  </div>

  <%= render 'sources/index/table', extended: false %>
</div>
