<div class="page-header">
  <div class="row">
    <div class="col-md-6">
      <h1>Projects <small>that you participate in</small></h1>
    </div>
    <div class="col-md-6 text-right">
      <%= link_to new_project_path, class: 'btn btn-default mtl' do %>
        <%= glyphicon :plus %>
        Add project
      <% end %>
    </div>
  </div>
</div>

<div class="list-group">
  <% @projects.each do |project| %>
    <%= link_to project.name, project_sources_path(project),
          class: "list-group-item#{ @project == project ? ' active' : '' }" %>
  <% end %>
</div>
