<div class="page-header">
  <h1>Projects <small>that you participate in</small></h1>
</div>

<div class="list-group">
  <% @projects.each do |project| %>
    <%= link_to project.name, project_sources_path(project),
          class: "list-group-item#{ @project == project ? ' active' : '' }" %>
  <% end %>
</div>
