<div class="page-header">
  <h1>Queries <small>for <%= @project.name %></small></h1>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>
          This will become the place where you can record a list of relevant
          keywords and compose queries of them with basic boolean operators.
          These queries can then automatically be run on different search
          engines such as:
        </p>
        <ul>
          <li>Google Scholar</li>
          <li>IEEE Xplore</li>
          <li>ACM Digital Library</li>
          <li>Scopus</li>
          <li>ScienceDirect</li>
          <li>Springer</li>
        </ul>
        <p>
          Initially, running the queries will be done by providing the user with
          a link to perform a request with the right URL and the right
          parameters.
          In the future, hopefully search results may be scraped and a list of
          potential new sources can be presented.
        </p>
      </div>
    </div>
  </div>
</div>
