// Place all the styles related to the exports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#export-pdf {

  body {
    font-family: 'Times';
  }

  h3 {
    margin-top: 40px;
  }

  #header {
    margin-bottom: 42px;
  }

}
