// Place all the styles related to the sources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Override table header. */

.sticky {
    position: sticky;
    top: 60px;
    z-index: 9;
}
thead.sticky {
  background-color: $body-bg;
  border-bottom: 1px solid dimgray;
}
.sticky--below-search {
  top: 105px;
}

/* Override table border trick
   Replace with something else instead. */
table.sticky-container {
    border-collapse: separate;
}
table.sticky-container > tbody > tr:first-of-type > td {
    border-top: none;
}
